html, body {
    height: 100%;
}

.vertical-center-container {
    width: 100vw;
}

.vertical-center {
    height: 100%;
    width: 100%;

    font: 0/0 a;
}

.vertical-center:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.vertical-center > .vertical-center-container {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.vertical-center-70 {
    height: 70%;
    width: 100%;

    font: 0/0 a;
}

.vertical-center-70:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.vertical-center-70 > .vertical-center-container {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.dropzone .dz-preview .dz-error-message {
    top: 150px !important;
}

.custom-dropzone {
    min-height: 0px !important;
    padding: 0px 0px 0px 0px !important;
    border-style: dotted;
    border-color: #3fa7cc;
    border-width: 3px;
    margin: 5px;
}

.no-padding {
    padding: 0px;
}

.vertical-align-middle {
    vertical-align: middle !important;
}

.sweet-alert button.cancel {
    background-color: #3fa7cc;
}

.sweet-alert button.cancel:hover {
    background-color: #0f8dcc;
}

.auto-width {
    width: auto;
}

.padding-right-15 {
    padding-right: 15px;
}

.custom_pointer_hover_style {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.custom_pointer_hover_style:hover {
    cursor: pointer;
    color: #557491 !important;
    text-decoration: none !important;
}

.custom_pointer_hover_gray_style {
    font-style: italic;
    color: #cccccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.custom_pointer_hover_gray_style:hover {
    cursor: pointer;
    color: #557491 !important;
    text-decoration: none !important;
}

.custom_dynamic_text_area {
    resize: none;
    overflow: hidden;
    width: 100%;
}

.flex-new-folder-row {
    display: flex;
    flex-flow: row;
}

.flex-new-folder-row-reverse {
    display: flex;
    flex-flow: row-reverse;
}

.flex-new-folder-column {
    display: flex;
    flex-direction: column;
}

.flex-new-folder-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-new-folder-child {
    margin: 5px !important;
}

@media all and (max-width: 640px) {
    .flex-new-folder-row {
        flex-direction: column;
        margin-bottom: 5px;
    }

    .flex-new-folder-row-reverse {
        flex-direction: column-reverse;
        margin-bottom: 5px;
    }
}